<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nativeonly">

    <application
        android:label="NativeOnlyApp"
        android:hasCode="true"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">
    </application>
</manifest>
